body {
    background: #fff;
}

.card-wrapper {
    float: none !important;
}

.profile-card-wrapper {
    position: relative;
}

.profile-pic {
    padding: 10px 0;
}

.name {
    margin-top: 10px;
}

.contact-details .detail {
    position: relative;
    min-height: 1px;
    padding: 10px;
}

.contact-details .detail .icon,
.contact-details .detail .info {
    display: inline-block;
}

.contact-details {
    display: table;
    margin: auto;
}

.detail {
    float: left;
    display: table-cell;
}
