.background-details .detail {
    display: block;
}

.background-details .detail .icon {
    max-width: inherit;
    min-width: inherit;
    text-align: left;
}

.background-details .detail .icon,
.background-details .detail .info {
    display: block;
    padding: 10px 0;
}

.background-details .detail .title {
    display: none;
}


ul {
    padding-left: 25px;
}


.card-nested {
    padding: 5px 0;
}

.flex {
    padding-left: 12px;
}

.flex-more {
    padding-left: 12px;
}


.background-details .detail .mobile-title {
    display: inline-block;
    margin-left: 5px;
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: middle;
}

