<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}</title>
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:url" content="index.html">
    <meta property="og:site_name" content="{{ site.title }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <script defer src="/js/fontawesome-all.min.js"></script>
    <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
    <div class="content">
        <img src="{{ page.background }}" id="background" alt="background">
        <img class="avatar" src="{{ page.avatar }}" id="avatar" alt="avatar">
        <h1>{{ site.title }}</h1>
        <h3>{{ page.motto }}</h3>
        <ul class="fa-ul">{% for item in page.items %}
            <li class="fa-li">
                <a href="{{ item.link }}">
                    <i class="{{ item.fa-style }}" data-fa-transform="shrink-5"></i>
                    <span class="description">{{ item.name }}</span>
                </a>
            </li>{% endfor %}
        </ul>
    </div>
    <div class="validation">
        <a class="validation-link" href="https://html5.validator.nu/?doc={{ site.url | url_encode }}" target="_blank">
            <i class="fab fa-html5"></i>
        </a>
        <a class="validation-link" href="https://jigsaw.w3.org/css-validator/validator?uri={{ site.url | url_encode }}&profile=css3" target="_blank">
            <i class="fab fa-css3"></i>
        </a>
    </div>
</body>

</html>